<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form action="{% url 'login' %}" method="post">

        {% csrf_token %}

        <input type="text" name="username" placeholder="Username"><br>
        <input type="password" name="password" placeholder="Password"><br>
        <button type="submit">Login</button>
        <a href="{% url 'register' %}">Register</a>
    </form>
    <div>
        {% for message in messages %}
        <h4>{{ message }}</h4>
        {% endfor %}
    </div>                                    

    <!-- <form action="{% url 'login' %}" method="post">

        {% csrf_token %}

        {% for message in messages %}
            <h3>{{ message }}</h3>
        {% endfor %}

        <label for="{{ form.username.id_for_label }}">Username:</label><br>
        {{ form.username }}<br>

        <label for="{{ form.password.id_for_label }}">Password:</label><br>
        {{ form.password }}<br>
        
        <button type="submit">Login</button>
        <a href="{% url 'register' %}">Register</a>

    </form> -->
</body>
</html>